$fontFamily: ('Inter', sans-serif);
$primaryColor: #2B44FF;
$primaryTextColor: #191847;
$secondaryTextColor: #FFFFFF;
$mutedTextColor: #a3a3b6;
$primaryBgColor: #FFFFFF;
$secondaryBgColor: #dde3e9;
$lightGreyBgColor: #E7E7E7;
$darkBgColor: #000000;
$primaryLinkColor: #2D43FF;
$primaryBoxShadowColor: #00000026;
$primaryBorderColor: #191847;
$mutedBorderColor: #a3a3b6;
$mediaSm: 576px;
$mediaMd: 768px;
$mediaLg: 992px;
$mediaXlg: 1200px;